* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: montserrat;
}
nav {
  height: 80px;
  width: 100%;
  background-color: #34495e;
}

.logo {
  padding: 0px 100px;
  font-size: 35px;
  font-weight: bold;
  color: white;
  line-height: 80px;
}
nav ul {
  float: right;
  margin-right: 40px;
}
nav li {
  display: inline-block;
  margin: 0px 8px;
  line-height: 80px;
}
nav a {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}

a:hover {
  border: 1px solid white;
  transition: 1s;
  color: yellow;
}

/* -------------------------------------------------------------*/
.hero {
  display: flex;
  justify-content: center;
}
.register-form {
  width: 100vh;
  margin: 50px;
  margin-left: 100px;
  border: 2px solid black;
  padding: 25px;
}
.register-heading {
  text-align: center;
  font-size: 35px;
  padding-bottom: 25px;
}
.register-flex1 {
  display: flex;
  gap: 80px;
  padding-bottom: 25px;
}
.register-flex2 {
  display: flex;
  gap: 80px;
  padding-bottom: 25px;
}
.register-flex3 {
  display: flex;
  gap: 80px;
  padding-bottom: 25px;
}
.register-para {
  font-size: 20px;
  padding-left: 10px;
  padding-bottom: 5px;
}
.register-input {
  padding: 8px 12px;
  border-radius: 50px;
}
.register-button {
  margin-top: 25px;
  margin-bottom: 15px;
  padding: 8px 32px;
  font-size: 25px;
  border-radius: 25px;
  background-color: black;
  color: white;
}
.register-button:hover {
  margin-top: 25px;
  margin-bottom: 15px;
  padding: 8px 32px;
  font-size: 25px;
  border-radius: 25px;
  background-color: white;
  color: black;
}
.register-buttonflex {
  display: flex;
  justify-content: center;
}
.register-forget {
  display: flex;
  margin: 10px 20px;
  justify-content: space-between;
}
.register-link {
  font-size: 18px;
  color: blue;
  font-weight: bold;
}
.register-link:hover {
  font-size: 18px;
  color: black;
  border: 1px solid black;
  font-weight: bold;
}

/* -------------------------------- */
.explore-courses {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: aqua;
  padding: 20px 0px;
  text-align: center;
}
.course {
  display: flex;
  gap: 40px;
  margin-right: 25px;
  margin-left: 25px;
}
.course-heading {
  font-size: 25px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
}
.course-image {
  width: 200px;
  height: 100px;
}
.course-para {
  font-size: 18px;
  text-align: center;
}
.course-link {
  color: blue;
  border: 1px solid blue;
  padding: 2px 5px;
  margin-top: 20px;
  display: inline-block;
}
.course-link:hover {
  color: black;
  border: 1px solid black;
  padding: 2px 5px;
  transition: 1s;
}
.course-footer {
  font-weight: bold;
  margin-top: 10px;
}
.course-price {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}
.buy-button {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 5px 16px;
  border-radius: 25px;
}
.buy-button:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 5px 16px;
  border-radius: 25px;
}
.course-flex1 {
  text-align: center;
  border: 2px solid black;
  height: 425px;
}
.trending-course {
  font-size: 30px;
  text-align: center;
  background-color: aqua;
  padding: 20px 0px;
  margin-bottom: 20px;
}
