* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  height: 100vh;
}
.header {
  background-color: blue;
  position: relative;
  padding: 0 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.header li {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
.nav-link:hover {
  color: orange;
}
.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo .nav-link {
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar .links {
  display: flex;
  gap: 2rem;
}
.navbar .toggle_btn {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.action_btn {
  background-color: orange;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scal 0.2 ease;
}
.action_btn:hover {
  scale: 1.05;
  color: white;
}
.action_btn:active {
  scale: 0.95;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
  height: 240px;
  background-color: rgba(0, 0, 0, 0.645);
}
.dropdown_menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-self: center;
}
.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
}
@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

.hero {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.register-form {
  width: 100vh;
  margin: 50px;
  margin-left: 100px;
  border: 2px solid black;
  padding: 25px;
  background: rgba(0, 0, 0, 0.822);
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  height: 75vh;

  border-radius: 50px;
}
.register-heading {
  text-align: center;
  font-size: 35px;
  padding-bottom: 25px;
  color: white;
}
.register-flex1 {
  display: flex;
  gap: 80px;
  padding-bottom: 25px;
}
.register-flex2 {
  display: flex;
  gap: 80px;
  padding-bottom: 25px;
}
.register-flex3 {
  display: flex;
  gap: 80px;
  padding-bottom: 25px;
}
.register-para {
  font-size: 16px;
  color: white;
  padding-left: 10px;
  padding-bottom: 5px;
}
.register-input {
  padding: 8px 12px;
  border-radius: 50px;
  background: transparent;
  border: 1px solid white;
}
.register-input:hover {
  padding: 8px 12px;
  border-radius: 50px;
  background: transparent;
  border: 1px solid white;
  box-shadow: 0 0 5px rgba(255, 255, 255, 1);
  transition: 0.5s;
}
.register-button {
  margin-top: 25px;
  margin-bottom: 15px;
  padding: 8px 32px;
  font-size: 25px;
  border-radius: 25px;
  background-color: blue;
  font-weight: bold;
  color: white;
}
.register-button:hover {
  margin-top: 25px;
  margin-bottom: 15px;
  padding: 8px 32px;
  font-size: 25px;
  border-radius: 25px;
  background-color: white;
  color: black;
  font-weight: bold;
}
.register-buttonflex {
  display: flex;
  justify-content: center;
}
.login-here {
  display: flex;
  margin: 10px 20px;
  justify-content: center;
}
.register-link {
  font-size: 18px;
  color: white;
  font-weight: bold;
}
.register-link:hover {
  font-size: 18px;
  color: orange;
  font-weight: bold;
}

/* -------------------------------- */
.explore-courses {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 35px;
  margin-left: 25px;
  margin-right: 20px;
  background-color: aqua;
  padding: 20px 0px;
  text-align: center;
  border-radius: 50px;
}
.course {
  display: flex;
  gap: 40px;
  margin-right: 25px;
  margin-left: 30px;
}
.course-heading {
  font-size: 25px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
}
.course-image {
  width: 200px;
  height: 100px;
}
.course-para {
  font-size: 16px;
  text-align: center;
}
.course-link {
  text-decoration: none;
  font-size: 12px;
  border-radius: 25px;
  color: blue;
  border: 1px solid blue;
  padding: 2px 5px;
  margin-top: 10px;
  display: inline-block;
}
.course-link:hover {
  color: black;
  border: 1px solid black;
  padding: 2px 5px;
  transition: 0.5s;
}
.course-footer {
  font-weight: bold;
  margin-top: 10px;
}
.course-price {
  font-weight: bold;
  margin-top: 20px;
}
.buy-button {
  background-color: blue;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 25px;
}
.buy-button:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 25px;
}
.course-flex1 {
  text-align: center;
  border: 2px solid black;
  height: 425px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.trending-course {
  font-size: 30px;
  text-align: center;
  background-color: aqua;
  padding: 20px 0px;
  margin-bottom: 20px;
}
