@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  overflow: hidden;
  transition: 0.3s;
}

.logo {
  font-size: 2em;
  color: #000000;
  user-select: none;
  cursor: pointer;
}

.navigation .links {
  position: relative;
  font-size: 1.1rem;
  color: #4e5358;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation .links::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #4e5358;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation .links:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btnLogin-popup {
  width: 120px;
  height: 50px;
  background: #4285f4;
  border: none;
  text-align: center;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
}

.navigation .btnLogin-popup a {
  padding: 10px 35px;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
}

.navigation .btnLogin-popup:hover {
  background: #1c61d1;
  box-shadow: rgba(66, 133, 244, 0.4) 0px 4px 20px -5px;
}

/* .navigation .btnSignup-popup{
    width: 120px;
    height: 50px;
    background: rgba(145, 145, 145, 0.1);
    border: solid black 1px;
    text-align: center;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnSignup-popup a{
    padding: 8px 20px;
    text-decoration: none;
    color: #4e5358;
    font-size: 1.1rem;
    font-weight: 500;
}

.navigation .btnSignup-popup:hover{
    background: rgba(145, 145, 145, 0.0);
    box-shadow: rgba(66, 133, 244, 0.4) 0px 4px 20px -5px;
} */

.sec1 {
  /* background: url(study.svg) no-repeat;
    background-position-x: 100%;
    background-position-y: 0%;
    background-size: 40%; */
  /* min-height: 100vh; */
  width: 100%;
  min-width: 100vw;
  /* height: 70vh; */
  /* background-image: linear-gradient(to right bottom, #0077b6, #00363a); */
  margin-bottom: 100px;
}

.sec1 .intro-container {
  /* margin-top: 200px; */
  margin-left: 10rem;
  width: 450px;
}

.sec1 .intro-container #intro-line {
  font-size: 5rem;
  line-height: 1.1;
  font-weight: 500;
}

.sec1 .intro-container p {
  margin-top: 2rem;
  color: #4e5358;
  text-align: justify;
}

.sec1 .wrapper {
  display: flex;
  margin-top: 10rem;
  width: 100vw;
}

.sec1 .wrapper img {
  width: 45%;
  margin-left: 2.5rem;
}

.cta button {
  margin-top: 1.5rem;
  font-size: 16px;
  font-weight: 500;
  color: aliceblue;
  padding: 9px 25px;
  border: none;
  border-radius: 10px;
  background-color: #4285f4;
  transition: all 0.5s ease 0s;
}

.cta button:hover {
  cursor: pointer;
  background-color: #0050d188;
  margin-bottom: 4px;
  box-shadow: rgba(32, 105, 223, 0.884) 0px 4px 20px -5px;
}

.sec2 {
  width: 100%;
  min-width: 100vw;
  overflow: hidden;
}

.wrapper2 {
  /* background-color: rgba(255, 0, 0, 0.26); */
  height: 50vh;
  justify-content: center;
  text-align: center;
}

.container1 {
  display: block;
}

.wrapper2 h2 {
  font-size: 1.9rem;
  margin-bottom: 5vh;
}

.wrapper2 #search {
  margin: 0 49px 0 49px;
  padding: 10px 20px 10px 20px;
  width: 45vw;
  height: 10vh;
  border-radius: 10px;
  border: 1px solid #4286f4d3;
  outline: none;
  font-size: 20px;
  text-align: center;
}

.sec2 .wrapper2 h3 {
  font-size: 0.9rem;
  margin-top: 40px;
  font-weight: 600;
  color: #4e5358;
}

.left-img {
  z-index: -5;
  position: absolute;
  width: 17%;
  left: 0;
  top: 110%;
  margin-left: 20px;
}

.right-img {
  z-index: -5;
  position: absolute;
  width: 17%;
  right: 0;
  top: 110%;
  margin-right: 20px;
}

.sec3 {
  margin-top: 1.1rem;
  min-height: 80vh;
  background-image: linear-gradient(to right bottom, #93cab8, #2256ff, #8daf9e);
}

.sec3 .sec3-container {
  /* background: rgba(251, 255, 0, 0.315); */
  text-align: center;
}

.sec3 .sec3-container .header {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 1.3rem;
  color: #fff;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin: 3rem;
  justify-content: center;
  align-items: center;
}

.card {
  height: 152px;
  width: 183px;
  margin: 0 42px 38px 0;
  padding: 0 27px 0 27px;
  background-image: linear-gradient(to right top, #f6f6f7, #fff);
  border-radius: 20px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 6px 0px;
  transition: transform 0.3s ease-in-out 0s;
  cursor: pointer;
}

.card:hover {
  transform: matrix(1.1, 0, 0, 1.1, 0, 0);
}

.card-content {
  color: #5d676e;
  display: block;
  transition: all 0.25s ease-in 0s;
}

.card-content img {
  margin-top: 10px;
  width: 50%;
}

.card-content .name {
  color: #4e5358;
  font-weight: 600;
}

.card-content .no-lec {
  font-weight: 500;
  font-size: 0.8rem;
}

.card-content .no-lec .arrow {
  border: solid #4e5358;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.card-content .no-lec .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transition: 0.5s ease-in-out;
}

.card-content .no-lec .right:hover {
  transform: rotate(315deg);
  border-color: #1c61d1;
}

/* @media screen and (max-width: 800px){          by Krishan
    header{ 
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 100px;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 99;
        overflow: hidden;
        transition: .3s;
    }
    .sec1 {
        background: url() no-repeat;
        background-position-x: 100%;
        background-position-y: 0%;
        background-size: 40%;
        height: 500px;
    }
    .sec1 .intro-container{
        margin-top: 200px;
        margin-left: 10rem;
        width: 150px;
    }
    .sec1 .intro-container #intro-line{
        font-size: 2rem;
        line-height: 1.1;
        font-weight: 500;
    }

} 
*/
.footer {
  padding: 2rem 5rem;
  border-top: 1px solid #eee;
  background: #0b2441;
  background-image: linear-gradient(to right bottom, #0b2441, #545a5f);
}
.container {
  display: flex;
  justify-content: space-between;
}
.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-top: 5rem;
}
.footer-main-heading {
  color: white;
  font-size: 4rem;
  text-align: center;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  justify-content: center;
}

.social-icon {
  height: 2rem;
  width: 2rem;
  margin-top: 2rem;
}

.copyright {
  font-size: 1rem;
  line-height: 1.6;
  color: white;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: white;
}

.contacts {
  font-style: normal;
  font-size: 1rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
  color: white;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1rem;
  color: white;
  transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active {
  color: #1c61d1;
}

#insta:hover {
  color: #ff00aa;
}
