@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    overflow: hidden;
    transition: .3s;
}

.logo{
    font-size: 2em;
    color: #000000;
    user-select: none;
    cursor:pointer;
}

.navigation .links{
    position: relative;
    font-size: 1.1rem;
    color: #4e5358;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation .links::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #4e5358;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation .links:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup{
    width: 120px;
    height: 50px;
    background: #4285f4;
    border: none;
    text-align: center;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup a{
    padding: 10px 35px;
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
}


.navigation .btnLogin-popup:hover{
    background: #1c61d1;
    box-shadow: rgba(66, 133, 244, 0.4) 0px 4px 20px -5px;
}

.sec1 {
    background: url(study.svg) no-repeat;
    background-position-x: 100%;
    background-position-y: 0%;
    background-size: 40%;
    height: 500px;
}

.sec1 .intro-container{
    margin-top: 200px;
    margin-left: 10rem;
    width: 450px;
}

.sec1 .intro-container #intro-line{
    font-size: 5rem;
    line-height: 1.1;
    font-weight: 500;
}

.sec1 .intro-container p{
    margin-top: 2rem;
    color: #4e5358;
    text-align: justify;
}

.cta button {
    margin-top: 1.5rem;
    font-size: 16px;
    font-weight: 500;
    color: aliceblue;
    padding: 9px 25px;
    border: none;
    border-radius: 10px;
    background-color: #4285f4;
    transition: all 0.5s ease 0s;
}

.cta button:hover {
    cursor: pointer;
    background-color: #1c61d1;
    margin-bottom: 4px;
    box-shadow: rgba(32, 105, 223, 0.884) 0px 4px 20px -5px;
}
@media screen and (max-width: 800px){
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 100px;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 99;
        overflow: hidden;
        transition: .3s;
    }
    .sec1 {
        background: url() no-repeat;
        background-position-x: 100%;
        background-position-y: 0%;
        background-size: 40%;
        height: 500px;
    }
    .sec1 .intro-container{
        margin-top: 200px;
        margin-left: 10rem;
        width: 150px;
    }
    .sec1 .intro-container #intro-line{
        font-size: 2rem;
        line-height: 1.1;
        font-weight: 500;
    }

}
    
